<div class="footer">
	<div class="footer-hd">
		<p>
			<a href="http://www.lvnongvip.com/3/">意诚科技</a>
			<b>|</b>
			<a href="home.html">商城首页</a>
			<b>|</b>
			<a href="http://www.lvnongvip.com/dsg/">支付宝</a>
			<b>|</b>
			<a href="home.html">物流</a>
		</p>
	</div>
	<div class="footer-bd">
		<p>
			<a href="#">关于意诚</a>
			<a href="#">合作伙伴</a>
			<a href="#">联系我们</a>
			<a href="#">网站地图</a>
			<em>© 2015-2025 Yicheng.com 版权所有 Collect from</em>
		</p>
	</div>
</div>

<!--小屏幕显示的底部导航 -->
<div class="navCir">
	<li class="active">
		<a href="home.html"><i class="am-icon-home"></i>首页</a>
	</li>
	<li>
		<a href="sort.html"><i class="am-icon-list"></i>分类</a>
	</li>
	<li>
		<a href="shopcart.html"><i class="am-icon-shopping-basket"></i>购物车</a>
	</li>
	<li>
		<a href="../person/index.html"><i class="am-icon-user"></i>我的</a>
	</li>
</div>